* {
    box-sizing: border-box;
    margin: 0px;
    --navbar_height: 70px;
    --accent_color: #e62d6a;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    /*padding-top: 50px;*/
    user-select: none;
}

button, .navbar_icon_container {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

#page_container {
    width: 100%;
    max-width: 480px;
    padding-bottom: calc(var(--navbar_height) + 20px);
}

#app_title {
    margin: 0px;
    margin-top: 30px;
    padding-left: 20px;
    font-size: 40px;
    font-weight: 400;
}

#navbar {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
    height: var(--navbar_height);

    border-radius: 30px 30px 0px 0px;

    background-color: rgb(192, 192, 192);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.navbar_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1;
    height: 75%;

    background-color: rgb(226, 226, 226);
    border-radius: 30%;

    transition: all 100ms;

    cursor: pointer;

    height: 70%;
}

.navbar_icon_container:active {       
    /*height: 60%;*/
}

.navbar_icon_container.inactive {
    background-color: transparent;
    height: 60%;
}

.navbar_icon_container:not(.inactive) > ion-icon[icon="home"] {
    color: rgb(130, 173, 223);
}

.navbar_icon_container:not(.inactive) > ion-icon[icon="heart"] {
    color: rgb(219, 92, 135);
}

.navbar_icon_container:not(.inactive) > ion-icon[icon="heart"] {
    color: rgb(219, 92, 135);
}

.navbar_icon_container:not(.inactive) > ion-icon[icon="book"] {
    color: rgb(103, 190, 130);
}

.navbar_icon_container:not(.inactive) > ion-icon[icon="heart"] {
    color: rgb(219, 92, 135);
}

.navbar_icon {
    color: rgb(143, 143, 143);

    height: 60%;
    width: 60%;
}




.container_page_principale {
    width: 100%;
    max-width: 500px;

    background-color: #00000018;
    background-color: #ffffff;
    /*border: 5px solid rgba(0, 0, 0, 0.158);*/
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);

    padding: 20px 25px;
    border-radius: 20px;
    margin-top: 30px;

    text-align: left;
    font-size: 20px;
}

.container_scroller {
    display: flex;
    flex-direction: column;
    height: 500px;
}

#container_infos_utilisateur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 130px;
}

#photo_profil {
    width: 75px;
    height: 75px;
    border-radius: 45px;

    background-color: #ffffff;
    background-color: #00000027;
    object-fit: cover;
}

#prenom_utilisateur {
    font-size: 22px;
}

#nom_utilisateur {
    font-size: 22px;
}

.titre_section {
    text-align: left;
    font-size: 25px;
}

#container_mes_offres {
    height: 300px;
}

.liste_offre {
    flex: 1;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    overflow-y: auto;
    margin-right: -15px;

    text-align: left;
    font-size: 20px;
    height: calc(100% - 20px);
}

#template_offre {
    display: none;
}

.item_offre_emploi {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 8px;
    margin-right: 15px;
    padding: 8px 12px;
    /*border-radius: 10px;*/
    /*height: 45px;*/
    background-color: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid black;
    
}

.text_container_item_offre_emploi {
    overflow: hidden;
}

.item_offre_emploi:hover {
    background-color: #e6e6e6;
    cursor: pointer;

    border: 1px solid black;
}

.item_offre_emploi_top {
    margin: 0px 0px;
    margin-bottom: 5px;

    font-weight: 450;
    font-size: 18px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item_offre_emploi_bottom {
    margin: 0px 0px;

    font-weight: 320;
    font-size: 15px;
}

.item_offre_emploi_delete {
    padding: 10px;
    border-radius: 10px;

    background-color: #cecece;
}

.container_formulaire {
    margin-top: 20px;
    margin-bottom: 50px;

    margin-left: 20px;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    all: unset;

    padding: 16px 25px;
    border-radius: 15px;
    
    font-size: 17px;

    background-color: white;
    border: 2px solid rgba(121, 121, 121, 0.377);
}

#bouton_ajouter_offre {
    width:fit-content;
}



#container_input_id_utilisateur {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 50px;
}

#input_id_utilisateur {
    width: 100%;
}

.big_text {
    font-size: 30px;
    font-weight: 500;
}

button {
    padding: 10px 20px;
    border-radius: 12px;
    border: none;

    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(37, 37, 37);

    cursor: pointer;
    
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;

    transition: all 100ms;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

button:active {
    background-color: rgba(0, 0, 0, 0.07);
}

.hidden {
    display: none;
}






/*creation compte*/

.cards {
  display: flex;
  gap: 0px;
  margin: 20px 0;
}

.card {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 10px;
    background: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid transparent;
}

.left_card {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.right_card {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.card.selected {
    border-color: var(--accent_color);
    background: #fce1e9;
}

#bouton_creer_compte {
    padding: 13px 25px;
    border: none;
    border-radius: 15px;
    background: var(--accent_color);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0ms;
}

#bouton_creer_compte:active {
    background: #ee5588;
}

#bouton_creer_compte:disabled {
    background: #aaa;
    cursor: not-allowed;
}

#container_creation_compte p {
    font-size: 17px;
    font-weight: 450;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: -5px;
}

#bouton_creer_compte {
    margin-top: 20px;
}

#container_creation_compte a {
    color: var(--accent_color);
    text-decoration: none;
}

#container_creation_compte #already_have_account {
    margin-top: 20px;
    text-align: center;
}

#creation_compte_title {
    margin-top: 20px;
}



/*match*/

#offre_proposee {
    display: flex;
    flex-direction: column;
    height: 30%;
    height: auto;
    gap: 10px;

    background-color: #00000018;
    background-color: #ffffff;
    /*border: 5px solid rgba(0, 0, 0, 0.158);*/
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);

    padding: 20px 25px;
    border-radius: 20px;

    text-align: left;
    font-size: 20px;
}

#container_offre_proposee {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    width: 100%;
    height: 80vh;
}

#offre_proposee_tranche_salariale {
    width: fit-content;
    background-color: #0000002c;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 450;
}

#offre_proposee_date {
    font-size: 15px;
    color: #696969;
    font-weight: 450;
}

#offre_proposee_entreprise {
    font-size: 20px;
    font-weight: 700;
}

#offre_proposee_location_icon {
    width: 20px;
    transform: translateY(2px);
}

#offre_proposee_location {
    font-size: 18px;
}
